.bg-custom{
    background-color: rgb(4, 30, 22);
}
.custom-ul{
   margin-top: 20px;
   margin-left: 10px;
}
.custom-nav-link{
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
}
